CouchDB==0.9
Django==1.6.2
argparse==1.2.1
cartodb==0.7
distribute==0.6.24
dj-database-url==0.3.0
dj-static==0.0.5
django-geoposition==0.1.5
django-suit==0.2.6
django-toolbelt==0.0.1
django-wpadmin==1.6.1
gunicorn==18.0
httplib2==0.8
oauth2==1.5.211
prettytable==0.7.2
psycopg2==2.5.2
pycouchdb==1.7
pystache==0.5.3
requests==2.2.1
simplejson==3.3.3
static==1.0.2
wsgiref==0.1.2
