{% extends 'baseadmin.html' %}
{% block content %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="edit-user">
	<ul>
		<li>
			<form action="." method="POST" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
				<input type="submit" value="Guardar Cupon" class="btn btn-success"/> {{mensaje}}
				<a href="/frente" class="btn btn-danger " role="button">Cancelar</a>
				{% endbuttons %}
			</form>
			<a href="" class="btn btn-success">Crear cupon</a>
		</li>
		<p>Cupones activos</p>
		<p>{{cupons}}</p>
	</ul>
</div>
{% endblock %}