{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="formulario">
	<div class="ima">
		{% load staticfiles %}
		<img src="{% static "imagenes/Frente_titulo.jpg" %}" alt="My image" class = 'tituloimg'/>
	</div>
	<h1> Suscripción al Semanario Frente</h1>
	<p>los campos marcados con * son obligatorios</p>
	<div class="clientes-frente-resgistro">
		<form action="." method="POST" class="form suscripciones">
			{% csrf_token %}
			<div class="datos">
				<span class="glyphicon glyphicon-user form-user"></span>
				<h6>Datos de Contacto</h6>
			</div>
			{% bootstrap_form form %}
			{% buttons %}
			<input type="submit" value="Registrar" class=" registrarfrente btn btn-default"/> {{mensaje}}
			{% endbuttons %}
		</form>
	</div>
	<div class="info">
		{% load staticfiles %}
		<img src="{% static "imagenes/lateral.jpg" %}" alt="My image" class = 'tituloimg'/>
	</div>
</div>
{% endblock %}